# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Worker
OPENWEATHER_API_KEY=
OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5/weather
OPENWEATHER_UNITS=metric
OPENWEATHER_LANG=en
WEATHER_TTL_SECONDS=300
FETCH_INTERVAL_SECONDS=60
STALE_AFTER_SECONDS=300
MAX_AGE_SECONDS=10800
WEATHER_CITY=Banska Bystrica