# Pytnon cache
__pycache__/
.pytest_cache/
*.pyc 

# Virtual environment
.venv/

# OS metadata
.DS_Store
__MACOSX/

# Editor configs
.vscode/
.idea/

# Local env files
.env
*.env 
!.env.example

# Docker logs
*.log 
